*

!README.md
!LICENSE
!.gitignore
!/build.gradle
!/settings.gradle
!/core/
!/core/src/
!/core/src/*
!/core/src/com/
!/core/src/com/tfg/
!/core/src/com/tfg/spacegame/
!/core/src/com/tfg/spacegame/*
!/core/src/com/tfg/spacegame/*/*
!/core/src/com/tfg/spacegame/*/*/*
!/core/src/com/tfg/spacegame/*/*/*/*
!/core/src/com/tfg/spacegame/*/*/*/*/*
!/core/src/com/tfg/spacegame/*/*/*/*/*/*
!/core/src/com/tfg/spacegame/*/*/*/*/*/*/*
!/android/
!/android/AndroidManifest.xml
!/android/build.gradle
!/android/assets/
!/android/assets/*
!/android/assets/*/*
!/android/assets/*/*/*
!/android/assets/*/*/*/*
!/android/res/
!/android/res/values/
!/android/res/values/ids.xml
!/android/src/
!/android/src/com/
!/android/src/com/tfg/
!/android/src/com/tfg/spacegame/
!/android/src/com/tfg/spacegame/android/
!/android/src/com/tfg/spacegame/android/*
!/desktop/
!/desktop/src/
!/desktop/src/com/
!/desktop/src/com/tfg/
!/desktop/src/com/tfg/spacegame/
!/desktop/src/com/tfg/spacegame/desktop/
!/desktop/src/com/tfg/spacegame/desktop/*
!/libs/
!/libs/*
!/BaseGameUtils/
!/BaseGameUtils/*
!/BaseGameUtils/src/
!/BaseGameUtils/src/main/
!/BaseGameUtils/src/main/*
!/BaseGameUtils/src/main/*/*
!/BaseGameUtils/src/main/*/*/*
!/BaseGameUtils/src/main/*/*/*/*
!/BaseGameUtils/src/main/*/*/*/*/*
!/BaseGameUtils/src/main/*/*/*/*/*/*
!/BaseGameUtils/src/main/*/*/*/*/*/*/*
!/libraries/
!/libraries/*
!/libraries/*/*
!/libraries/*/*/*

