*

!README.md
!LICENSE
!.gitignore
!/build.gradle
!/core/
!/core/src/
!/core/src/*
!/core/src/com/
!/core/src/com/tfg/
!/core/src/com/tfg/spacegame/
!/core/src/com/tfg/spacegame/*
!/core/src/com/tfg/spacegame/*/*
!/core/src/com/tfg/spacegame/*/*/*
!/core/src/com/tfg/spacegame/*/*/*/*
!/core/src/com/tfg/spacegame/*/*/*/*/*
!/core/src/com/tfg/spacegame/*/*/*/*/*/*
!/core/src/com/tfg/spacegame/*/*/*/*/*/*/*
!/android/
!/android/AndroidManifest.xml
!/android/assets/
!/android/assets/*
!/android/assets/*/*
!/android/assets/*/*/*
!/android/assets/*/*/*/*
!/android/src/
!/android/src/com/
!/android/src/com/tfg/
!/android/src/com/tfg/spacegame/
!/android/src/com/tfg/spacegame/android/
!/android/src/com/tfg/spacegame/android/*
!/libs/
!/libs/*

